body {
  margin-top: -10px;
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
  height: 100%;
  background: #A5CAD6;
}
.container {
    margin: 0 auto -60px;
    min-height: 400px;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
}
.layout_outer {
  max-width:1100px;
}
.layout_inner {
  margin-left:25px;
}
.header {
    -moz-border-colors: none;
    border-colors: none;
    border-color: -moz-use-text-color rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.3);
    border-image: none;
    border-radius: 0 0 8px 8px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-style: none solid solid;
    border-width: medium 1px 1px;
    box-shadow: 0 5px 7px 1px rgba(0, 0, 0, 0.1);
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    position: relative;
    max-width: 1124px;
    min-width: 400px;
    background: none repeat scroll 0 0 #F8F8F8;
  h1 {
    line-height: 30px;
  }
}
.logo,
.blog-ame {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
.blog-name {
  padding-top:8px;
  a {
    color: #888888;//#E7E7E7;
    font-size: 25px;
    font-weight: 300;
    margin: 15px 0 0 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    font-family: 'Open Sans',sans-serif;
  }
  small {
    height: 100%;
    margin-bottom: 5px;
    color: darkgray;
    font-size: 45%;
  }
}


ul, ol {
    margin: 0 0 10px 5px;
    padding: 0;
}
.center {
    color: #808080;
    float: left;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
[class*="span"] {
  margin: 0;
}

.block-bar {
    margin: 15px;
    text-align: center;
    font-size:25px;
    padding: 15px 100px;
}
.block-bar .nolink {
    color: white;
}
.page-header {
    border-bottom: 1px solid #EEEEEE;
    margin-right: 0;
    margin-top: 20px;
    padding-left: 50px;
    padding-bottom: 0px;
}
.label-info {
    background: none repeat scroll 0 0 #5780DE;
    max-height: 14px;
}
.label-success {
    background: none repeat scroll 0 0 #0E000;
    max-height: 14px;
}
