<div id="view_large_modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>view large image</h3>
  </div>
  <div class="modal-body" style="text-align:center;">
    <a class="prev"></a>
    <img>
    <a class="next"></a>
  </div>
</div>
