  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="mail_email">Email</label>
      <div class="controls">
        <input type="text" id="mail_email" placeholder="Your Email">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="mail_pwd">PWD</label>
      <div class="controls">
        <input type="text" id="mail_pwd" placeholder="Email PWD" >
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="mail_pop">POP</label>
      <div class="controls">
        <input type="text" id="mail_pop" placeholder="Mail Pop">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="pop_port">POP Port</label>
      <div class="controls">
        <input type="text" id="pop_port" placeholder="Pop Port">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="mail_smtp">SMTP</label>
      <div class="controls">
        <input type="text" id="mail_smtp" placeholder="SMTP">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="smtp_port">SMTP Port</label>
      <div class="controls">
        <input type="text" id="smtp_port" placeholder="SMTP Port">
      </div>
    </div>
  </form>