
<div class="shadow-box">
  <table class="resume-table">
    <tbody>
     <tr>
       <td class="title"><strong>SOLife</strong></td>
       <td colspan="3">Segment Of Life - 生活、工作的点点滴滴</td> 
     </tr>

     <tr>
       <td class="title"><strong>搭建框架:</strong></td>
       <td class="left">Rails</td>
       <td class="title"><strong>编程语言:</strong></td>
       <td class="right">Ruby/Haml/CoffeeScript/Sass</td>
     </tr>

     <tr>
       <td class="title"><strong>web服务器:</strong></td>
       <td class="left">Nginx</td>
       <td class="title"><strong>代码托管:</strong></td>
       <td class="right"><a class="resume" href="https://github.com/jay16/solife">GitHup</a></td>
     </tr>

     <tr>
       <td class="title"><strong>数据库:</strong></td>
       <td class="left">MySql</td>
       <td class="title"><strong>编辑器:</strong></td>
       <td class="right">Vim</td>
     </tr>

     <tr>
       <td class="title"><strong>浏览器:</strong></td>
       <td colspan="3">Firefox(
          <a href="https://www.getfirebug.com/" target="_blank">Firebug</a>/
          <a href="http://firequery.binaryage.com/" target="_blank">FireQuery</a>/
          <a href="http://www.colorzilla.com/" target="_blank">ColorZilla</a>/
          <a href="http://www.vimperator.org/" target="_blank">Vimperator</a>
          )
     </tr>

     <tr>
       <td class="title"><strong>系统环境:</strong></td>
       <td class="left">CentOS 5.6</td>
       <td class="title"><strong>用途/目的:</strong></td>
       <td class="right">学习Rails/Ruby/Linux</td>
     </tr>

     <tr>
       <td class="title"><strong>域名注册:</strong></td>
       <td class="left"><a class="resume" href="https://www.godaddy.com/">GoDaddy</a></td>
       <td class="title"><strong>有效期至:</strong></td>
       <td class="right">2015-07-24 04:53</td>
     </tr>
    </tbody>
  </table>
</div>
