
<div class="shadow-box">

  <table class="table table-bordered">
    <tr>
      <td colspan="2" width="100px">姓名：李俊杰</td>
      <td>年龄：25</td>
      <td>工作年资：2 </td>
      <td>担任职务：项目组成员</td>
    </tr>
    <tr>
      <td rowspan="4" valign="middle" align="center" style="vertical-align: middle;">基本<br>数据</td>
      <td>现职</td>
      <td colspan="3">上海胜因软件技术有限公司 软件工程师</td>
    </tr>

    <tr>
      <td>学历</td>
      <td colspan="3">安阳师范学院 计算机科学与技术 本科专业</td>
    </tr>
     <tr>
      <td rowspan="2" style="vertical-align: middle;">专长</td>
      <td colspan="2">BI开发 Cognos	熟悉 Linux， Ruby，Web开发</td>
      <td>熟悉 Linux， Ruby，Web开发</td>
    </tr>
    <tr>
      <td colspan="2">数据库：Sql Server/Oracle</td>
      <td>&nbsp;</td>
    </tr>
    
    <!---->
    <tr>
      <td rowspan="4" style="vertical-align: middle;">主要<br>项目<br>资历</td>
      <td colspan="3">机构（项目）名称</td>
      <td>担任职务</td>
    </tr>
    <tr>
      <td colspan="3">(11-11) FocusMail 邮件营销平台	软件开发</td>
      <td>软件开发</td>
    </tr>
    <tr>
      <td colspan="3">(12-12) Ihush电子商务－商业智能平台项目</td>
      <td>BI开发</td>
    </tr>
    <tr>
      <td colspan="3">(13-13) Converse－报表平台项目</td>
      <td>BI开发</td>
    </tr>
  </table>
  <div class="page-header">
    <h3>项目摘要</h3>
  </div>

   Ihush商业智能平台项目
  <table class="table table-bordered">
    <thead>
      <tr>
      <td  width="20%">内容</td>
      <td>说明</td>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td>项目概况</td>
        <td>帮助数据分析团队建立统一的数据中心、及业务分析系统。偏向于订单分析及网络流量转化率等方面的分析。</td>
      </tr>
      <tr>
        <td>主要技术、工具</td>
        <td>Kettle, DW</td>
      </tr>
       <tr>
        <td>我的职责</td>
        <td>Portal， BI开发</td>
      </tr>
    </tbody>
  </table>

   Converse 报表平台项目
  <table class="table table-bordered">
    <thead>
      <tr>
      <td width="20%">内容</td>
      <td>说明</td>
      </tr>
    </thead>  
    <tbody>
      <tr>
        <td>项目概况</td>
        <td>建立集团统一的数据中心、并在其基础上搭建报表中心。 主要目的加快信息处理的相应速度，统一各部门不一致的统计口径</td>
      </tr>
      <tr>
        <td>主要技术、工具</td>
        <td>SSIS , Cognos, DW</td>
      </tr>
       <tr>
        <td>我的职责</td>
        <td>BI开发</td>
      </tr>
    </tbody>
    
  </table>
</div>
