<div class="shadow-box">
  <table class="resume-table">
    <tbody>
     <tr>
       <td class="title"><strong>名称:</strong></td>
       <td class="left">李俊杰</td> 
       <td  rowspan="2" colspan="2" style="height:20px">
          <a class="nolink" data-placement="right" data-toggle="tooltip" data-original-title="it's my gravatar avatar.">
            <%= image_tag(jay_li.gravatar_url(:rating => 'R', :secure => true), class: "img-circle") if jay_li %>
	  </a>
       </td>
     </tr>
     <tr>
       <td class="title"><strong>民族:</strong></td>
       <td class="right">汉族</td> 
     </tr>
     
     <tr>
       <td class="title"><strong>学历:</strong></td>
       <td class="left">本科</td>
       <td class="title"><strong>毕业时间:</strong></td>
       <td class="right">2012年6月</td>
     </tr>

     <tr>
       <td class="title"><strong>工作城市:</strong></td>
       <td class="left">中国上海</td>
       <td class="title"><strong>所在公司:</strong></td>
       <td class="right"><a class="resume" href="http://intfocus.com/">IntFocus</a></td>
     </tr>

     <tr>
       <td class="title"><strong>职位:</strong></td>
       <td class="left">软件工程师</td>
       <td class="title"><strong>当前状态:</strong></td>
       <td class="right">在甲方公司做技术支持</td>
     </tr>
     <tr>
       <td class="title"><strong>近期计划</strong></td>
       <td colspan="3"> 
         1. 交学费 2. 买MAC
       </td>
     </tr>
    

    </tbody>
  </table>
</div>
