<table class="table">
  <tr><td>Url:</td><td><%= @traffic.url %></td></tr>
  <tr><td>Ip:</td><td><%= @traffic.ip %></td></tr>
  <tr><td>Browser:</td><td><%= @traffic.browser %></td></tr>
  <tr><td>Type:</td><td><%= @traffic.type %></td></tr>
</table>
