<div class="span3">
  <table>
    <tr>
      <td>xSOLife</td>
      <td><span class="label label-info">订阅号</span></td>
    </tr>
    <tr>
      <td colspan="2">
	<img width="150" src="/photos/f6326272-2513-304e-83a8-c39f5063ca71/2d95aa33-2ee2-3e94-b2ce-1f0a9ece5ea0.jpg">
      </td>
    </tr>
  </table>
</div>
<div class="span9">
  <%= render partial: 'weixin/record' %>
</div>
