<table class="table">
  <tr>
    <th>index</th>
    <th>exchange</th>
    <th>proviaty</th>
  </tr>

  <% @mxes.each_with_index do |mx, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= mx.server %></td>
      <td><%= mx.level %></td>
    </tr>
  <% end if @mxes %>

</table>
