<table>
<tbody>
	    <tr>
		<td>
		      <img src="<%= File.join("photos",photo.folders.first.folder_name,photo.path) %>" width=200>
		</td>
	    </tr>
	    
	    <tr>
		<td>
                   name:<%= photo.name %>
		</td>
	    </tr>
	    <tr>
		<td>
                  desc:<%= photo.desc %>
		</td>
	    </tr>
</tbody>
</table>
