<style>
h1 span {
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.error-page p {
    text-align: justify;
}
.error-page .error-title {
    font-size: 0;
    margin: 40px auto;
    text-align: center;
}
.error-page .error-type {
    color: #555555;
    display: block;
    font-size: 16px;
    line-height: 20px;
}
.error-page .center {
    text-align: center;
}
.text-3d-left, .text-3d-center, .text-3d-right {
    display: inline-block;
    font-size: 240px;
    line-height: 240px;
}
.text-3d-left {
    color: #FFFFFF;
    text-shadow: 0.7px 1px 0 #D1D1D1, 1.4px 2px 0 #CACACA, 2.1px 3px 0 #C3C3C3, 2.8px 4px 0 #BCBCBC, 3.5px 5px 0 #B5B5B5, 4.2px 6px 0 #AEAEAE, 4.9px 7px 0 #A7A7A7, 5.6px 8px 0 #A0A0A0, 6.3px 9px 0 #999999, 7px 10px 0 #929292, 7.7px 11px 0 #8B8B8B, 8.4px 12px 0 #848484, 9.1px 13px 0 #7D7D7D, 9.8px 14px 0 #767676, 10.5px 15px 0 #6F6F6F, 11.2px 16px 0 #686868, 11.9px 17px 0 #616161, 12.6px 18px 0 #5A5A5A, 13.3px 19px 0 #535353, 14px 20px 0 #4C4C4C, 14.7px 21px 20px #001135;
    transform: rotate(-2deg);
}
.text-3d-center {
    color: #FFFFFF;
    font-size: 245px;
    margin: 0 20px;
    text-shadow: 0 1px 0 #D1D1D1, 0 2px 0 #CBCBCB, 0 3px 0 #C5C5C5, 0 4px 0 #BFBFBF, 0 5px 0 #B9B9B9, 0 6px 0 #B3B3B3, 0 7px 0 #ADADAD, 0 8px 0 #A7A7A7, 0 9px 0 #A1A1A1, 0 10px 0 #9B9B9B, 0 11px 0 #959595, 0 12px 0 #8E8E8E, 0 13px 0 #888888, 0 14px 0 #828282, 0 15px 0 #7C7C7C, 0 16px 0 #767676, 0 17px 0 #707070, 0 18px 0 #6A6A6A, 0 19px 0 #646464, 0 20px 0 #5E5E5E, 0 21px 0 #585858, 0 22px 0 #525252, 0 23px 0 #4C4C4C, 0 24px 23px #001135;
    transform: translateY(-12px);
}
.text-3d-right {
    color: #FFFFFF;
    text-shadow: -0.7px 1px 0 #D1D1D1, -1.4px 2px 0 #CACACA, -2.1px 3px 0 #C3C3C3, -2.8px 4px 0 #BCBCBC, -3.5px 5px 0 #B5B5B5, -4.2px 6px 0 #AEAEAE, -4.9px 7px 0 #A7A7A7, -5.6px 8px 0 #A0A0A0, -6.3px 9px 0 #999999, -7px 10px 0 #929292, -7.7px 11px 0 #8B8B8B, -8.4px 12px 0 #848484, -9.1px 13px 0 #7D7D7D, -9.8px 14px 0 #767676, -10.5px 15px 0 #6F6F6F, -11.2px 16px 0 #686868, -11.9px 17px 0 #616161, -12.6px 18px 0 #5A5A5A, -13.3px 19px 0 #535353, -14px 20px 0 #4C4C4C, -14.7px 21px 20px #001135;
    transform: rotate(2deg);
}
</style>

<div class="span6 offset3 error-page error-404">
    <h1 class="error-title">
      <span class="text-3d-left">4</span>
      <span class="text-3d-center">0</span>
      <span class="text-3d-right">4</span>

      <span class="error-type">Not Found</span>
    </h1>

    <p>
      We're afraid that you might have just arrived the wrong place <<%= request.url %>> with params <<%= params.to_s %>>. Please check the address and try again, or the page you're looking for might have been moved.
    </p>

    <p>
      please back to home <a title="back to home!"  href="http://xsolife.com">solife</a> to refound it.
    </p>
</div>
