//= require jquery.atwho


.form-horizontal { 
  .control-group {
    margin-top: 10px;
    margin-bottom: 1px;
    .controls {  
      margin-left: 0px;
      width: 300px;
      display: inline;
    }
  }
  .control-label {
    .field_with_errors {
      display: inline;
    }
    display: inline;
    width: 320px;
  }
  input[type="text"] {
    height: 30px;
    line-height: 30px;
    max-height: 50px;
    width: 240px;
  }
  input[type="submit"] {
    float: right;
    height: 30px;
    width: 150px;
  }
  textarea {
    margin-top: 5px;
    width: 100%;
  }
  .error-message-field {
    font-size: 14px;
  }
}


/*评论项样式*/
.reply {
  font-size: 14px;
  border-bottom:1px solid #DDD; 
  padding:8px 10px; 
  margin:0 -10px;
  background:#FFF;
  .deleted {
    color:#aaa;
    text-decoration: line-through;
    font-size:12px; text-align:center;
  }
  &.light { background:#F7F2FC; }
  &.popular { background:#fffce9; }
  .face { padding-right:8px; width:48px; margin-left:0; }
  .infos { padding-left:58px; }
  .info {
    color:#bbb; height:20px;
    a:link,
    a:visited { color:#999; }
    .name {
      a { 
	color:#888;
	text-decoration:none; font-weight:bold; margin-right:8px; 
	&:hover { color:#555; }
      }
    }
    .time {
      a.reply-floor { 
	margin-right: 0; color:#bbb; text-decoration: none; 
	&:hover {color:#999;}
      }
    }
    .opts {
      float:right; text-align:right;
      a { margin-left:5px; }
      a:hover { text-decoration:none; }
      i.icon { margin-bottom:-1px; }
    }
    a.edit { display:none; }
    a.reply_link img { vertical-align:middle;}
  }
  .body {
    margin-top:5px;
    img { max-width:622px;}
  }
}
