<section class="tickets">
      <header><h2>solife的任务</h2></header>

      <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 276px;"><section class="ticketList" style="overflow: hidden; width: auto; height: 276px;"><table class="condensed-table ticketTable"><tbody class="newTickets" data-status="New"><tr class="sectionHeader" draggable="true">
  <th class="ticketNumber"></th>
  <th class="ticketStatus">1</th>
  <th class="ticketAssignee" colspan="2">待办中</th>
</tr>
<tr class="ticket" id="ticket-772d1df0f285" draggable="true"><td class="ticketNumber Normal">
  <span>10</span>
</td>


  <td class="ticketStatus statusMenu defaultTemplate">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
  <span class="status New"></span>
  <b class="lbl">待办中</b>
</a>

<ul class="dropdown-menu">
  

  
    <li href="/tickets/772d1df0f285/start"><span class="Started"></span> <b>开始</b></li>
  

  
    <li href="/tickets/772d1df0f285/complete"><span class="Completed"></span> <b>完成</b></li>
  

  
</ul>

  </td>


<td class="ticketAssignee">solife</td>
<td class="ticketTitle">
  <div>
    <div class="ticketTags">
      
      

      
  <a class="tag-item" data-tag-name="solife" href="#">solife</a>

  <a class="tag-item" data-tag-name="todo" href="#">todo</a>

  <a class="tag-item" data-tag-name="pragmatic" href="#">pragmatic</a>


    </div>
    <div class="title">SOLife的todo借鉴pragmatic的UI</div>
  </div>
</td>
</tr></tbody><tbody class="startedTickets" data-status="Started"><tr class="sectionHeader" draggable="true">
  <th class="ticketNumber"></th>
  <th class="ticketStatus">3</th>
  <th class="ticketAssignee" colspan="2">进行中</th>
</tr>
<tr class="ticket" id="ticket-0fd2bc2cc276" draggable="true"><td class="ticketNumber Normal">
  <span>11</span>
</td>


  <td class="ticketStatus statusMenu defaultTemplate">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
  <span class="status Started"></span>
  <b class="lbl">进行中</b>
</a>

<ul class="dropdown-menu">
  
    <li href="/tickets/0fd2bc2cc276/new"><span class="New"></span> <b>待办</b></li>
  

  

  
    <li href="/tickets/0fd2bc2cc276/complete"><span class="Completed"></span> <b>完成</b></li>
  

  
</ul>

  </td>


<td class="ticketAssignee">solife</td>
<td class="ticketTitle">
  <div>
    <div class="ticketTags">
      
      

      

    </div>
    <div class="title">form_for向simple_form转换</div>
  </div>
</td>
</tr><tr class="ticket" id="ticket-32dc5b56d0d6" draggable="true"><td class="ticketNumber Normal">
  <span>12</span>
</td>


  <td class="ticketStatus statusMenu defaultTemplate">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
  <span class="status Started"></span>
  <b class="lbl">进行中</b>
</a>

<ul class="dropdown-menu">
  
    <li href="/tickets/32dc5b56d0d6/new"><span class="New"></span> <b>待办</b></li>
  

  

  
    <li href="/tickets/32dc5b56d0d6/complete"><span class="Completed"></span> <b>完成</b></li>
  

  
</ul>

  </td>


<td class="ticketAssignee">solife</td>
<td class="ticketTitle">
  <div>
    <div class="ticketTags">
      
      

      

    </div>
    <div class="title">SOLife Ajax加载信息时显示loading表示</div>
  </div>
</td>
</tr><tr class="ticket" id="ticket-64002e6a907a" draggable="true"><td class="ticketNumber Normal">
  <span>14</span>
</td>


  <td class="ticketStatus statusMenu defaultTemplate">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
  <span class="status Started"></span>
  <b class="lbl">进行中</b>
</a>

<ul class="dropdown-menu">
  
    <li href="/tickets/64002e6a907a/new"><span class="New"></span> <b>待办</b></li>
  

  

  
    <li href="/tickets/64002e6a907a/complete"><span class="Completed"></span> <b>完成</b></li>
  

  
</ul>

  </td>


<td class="ticketAssignee">solife</td>
<td class="ticketTitle">
  <div>
    <div class="ticketTags">
      
      

      

    </div>
    <div class="title">等待微信公共账号消息</div>
  </div>
</td>
</tr></tbody><tbody class="completedTickets closedTickets" data-status="Completed"><tr class="sectionHeader" draggable="true">
  <th class="ticketNumber"></th>
  <th class="ticketStatus">0</th>
  <th class="ticketAssignee" colspan="2">已完成</th>
</tr>
<tr class="status-placeholder dropzone" draggable="true">
  <td colspan="4">
    <p>现在没有<strong>已完成</strong>的任务</p>
  </td>
</tr>
</tbody></table></section><div class="slimScrollBar ui-draggable" style="background: none repeat scroll 0% 0% rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; border-radius: 7px 7px 7px 7px; z-index: 99; right: 1px; height: 212.782px; display: none;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px 7px 7px 7px; background: none repeat scroll 0% 0% rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
    </section>
