        <div class="span3 dot label label-info" id="<%= dom_id @site %>">
           <%= @site.name %>
           <%= link_to "", favority_site_path(@favority,@site), remote: true, class: "icon-list" %>
        </div>
