<html><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Action Controller Overview — Ruby on Rails Guides</title>
<link rel="stylesheet" type="text/css" href="/assets/demo/guides.rubyonrails.org/stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="/assets/demo/guides.rubyonrails.org/stylesheets/print.css" media="print" />

<link rel="stylesheet" type="text/css" href="/assets/demo/guides.rubyonrails.org/stylesheets/syntaxhighlighter/shCore.css" />
<link rel="stylesheet" type="text/css" href="/assets/demo/guides.rubyonrails.org/stylesheets/syntaxhighlighter/shThemeRailsGuides.css" />

<link rel="stylesheet" type="text/css" href="/assets/demo/guides.rubyonrails.org/stylesheets/fixes.css" />
<link href="/assets/demo/guides.rubyonrails.org/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
 <script type="text/javascript" src="/assets/demo/guides.rubyonrails.org/javascripts/jquery.min.js"></script>
</head>
<body class="guide">
  <div id="topNav">
    <div class="wrapper">
      <strong class="more-info-label">More at <a href="http://rubyonrails.org/">rubyonrails.org:</a> </strong>
      <span class="red-button more-info-button">
        More Ruby on Rails
      </span>
      <ul class="more-info-links s-hidden">
        <li class="more-info"><a href="http://rubyonrails.org/">Overview</a></li>
        <li class="more-info"><a href="http://rubyonrails.org/download">Download</a></li>
        <li class="more-info"><a href="http://rubyonrails.org/deploy">Deploy</a></li>
        <li class="more-info"><a href="https://github.com/rails/rails">Code</a></li>
        <li class="more-info"><a href="http://rubyonrails.org/screencasts">Screencasts</a></li>
        <li class="more-info"><a href="http://rubyonrails.org/documentation">Documentation</a></li>
        <li class="more-info"><a href="http://rubyonrails.org/ecosystem">Ecosystem</a></li>
        <li class="more-info"><a href="http://rubyonrails.org/community">Community</a></li>
        <li class="more-info"><a href="http://weblog.rubyonrails.org/">Blog</a></li>
      </ul>
    </div>
  </div>
 
  <%= render :partial => "layouts/topic_guides" %>

  <div id="feature">
    <div class="wrapper">
      <%= yield %>
    </div>
  </div>

  <hr class="hide" />
  <div id="footer">
    <div class="wrapper">

    </div>
  </div>

  <script type="text/javascript" src="/assets/demo/guides.rubyonrails.org/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/demo/guides.rubyonrails.org/javascripts/responsive-tables.js"></script>
  <script type="text/javascript" src="/assets/demo/guides.rubyonrails.org/javascripts/guides.js"></script>
  <script type="text/javascript" src="/assets/demo/guides.rubyonrails.org/javascripts/syntaxhighlighter/shCore.js"></script>
  <script type="text/javascript" src="/assets/demo/guides.rubyonrails.org/javascripts/syntaxhighlighter/shBrushRuby.js"></script>
  <script type="text/javascript" src="/assets/demo/guides.rubyonrails.org/javascripts/syntaxhighlighter/shBrushXml.js"></script>
  <script type="text/javascript" src="/assets/demo/guides.rubyonrails.org/javascripts/syntaxhighlighter/shBrushSql.js"></script>
  <script type="text/javascript" src="/assets/demo/guides.rubyonrails.org/javascripts/syntaxhighlighter/shBrushPlain.js"></script>
  <script type="text/javascript">
    SyntaxHighlighter.all()
    $(guidesIndex.bind);
  </script>
</body>
</html>
